* { box-sizing: border-box; margin: 0; padding: 0; }
a {color: #ff3502 ; text-decoration: none; }
input, button, textarea { font-family: inherit; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
em { font-style: normal !important; }
html, body {
  height: 100%;
  font-family: 'PingFang SC', BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}
.el-message__icon { display: none }
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
}
.top .logo {
  margin-right: 20px;
}
#editor {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
}
section {
  height: 100%;
}
.main-body {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 10px;
}
.ctrl {
  display: flex;
  align-items: center;
  flex: 1;
  flex-basis: 60px;
}
.preview-wrapper {
  display: flex;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
.main-section {
  display: flex;
  height: 100%;
}
.hint {
  margin: 20px 0;
  text-align: center;
  opacity: 0.6;
}
.hintClick{
  text-align: center;
}
.addText{
  margin-left: 10px;
}
.preview {
  margin: 0 auto;
  padding: 20px;
  width: 375px;
  outline: none;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
  font-size: 16px;
}
.preview ul, .preview ol {
  padding-left: 40px !important;
}
.CodeMirror {
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  font-size: 16px;
  font-family: 'PingFang SC', BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}
/* ele ui */
.el-form-item {
  margin-bottom: 0px !important;
}
/*wechat code block*/
.rich_media_content .code-snippet *, .rich_media_content .code-snippet__fix * {
  max-width: 1000% !important;
}
.code-snippet__fix {
  position: relative;
  display: block;
  display: flex;
  margin: 10px 0;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.03);
  color: #333;
  word-wrap: break-word !important;
  line-height: 26px;

  ont-size: 14px;
}
.code-snippet__fix .code-snippet__line-index {
  flex-shrink: 0;
  padding: 1em;
  height: 100%;
  list-style-type: none;
  counter-reset: line;
}
.code-snippet__fix .code-snippet__line-index li {
  list-style-type: none;
  text-align: right;
}
.code-snippet__fix .code-snippet__line-index li::before {
  left: -2.5em;
  display: inline;
  min-width: 1.5em;
  color: rgba(0,0,0,0.15);
  content: counter(line);
  counter-increment: line;
  text-align: right;
}
.code-snippet__fix pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  padding: 1em;
  padding-left: 1em;
  padding-left: 0;
  white-space: normal;
}
.code-snippet__fix code {
  position: relative;
  display: block;
  display: flex;
  text-align: left;
  white-space: pre;
  font-size: 14px;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}